.pagina-principal {
  height: 100vh;
  background: url("../../public/BG-IA.jpg");
  background-size: cover; /* Cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Encabezado con color principal */
.encabezado {
  padding: 20px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  background-color: #CCEAF4; /* Celeste claro */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  color: #232323;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-img-lateral {
  width: 180px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.boton-img-lateral:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}


.zona-central .slick-slider {
  width: 100%;
  max-width: 900px;
}

.botones-centrales {
  display: flex;
  gap: 4rem; /* Más separados */
  justify-content: center;
  align-items: center;
}

.boton-icono {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton-icono:hover {
  transform: scale(1.1);
}

.icono {
  width: 250px; /* Más grandes */
  height: 250px;
  border-radius: 12px;
}